# eCommerce Customer Analysis - Exploratory Data Analysis (EDA)

This notebook performs comprehensive exploratory data analysis on the eCommerce customer dataset to understand customer spending patterns and identify key features for predicting yearly spending.

## Objectives:
- Analyze customer demographic and behavioral patterns
- Identify key factors influencing yearly spending
- Prepare data insights for regression modeling
- Visualize relationships between features and target variable

---

## 1. Import Required Libraries

Import all necessary libraries for data analysis, visualization, and logging.

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import warnings
warnings.filterwarnings('ignore')

# Import custom modules
import sys
import os
sys.path.append(os.path.dirname(os.path.dirname(os.path.abspath('__file__'))))

from src.exception import CustomException
from src.logger import logging

# Set plotting style
plt.style.use('seaborn-v0_8')
sns.set_palette("husl")

# Set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

Getting Data

In [2]:
df = pd.read_csv('data/ecommerce_customer.csv')  # Load your dataset

In [3]:
df.head()  # Display the first few rows of the dataset

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

In [4]:
df.tail()  # Display the last few rows of the dataset

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
495,lewisjessica@craig-evans.com,"4483 Jones Motorway Suite 872\nLake Jamiefurt,...",Tan,33.237660,13.566160,36.417985,3.746573,573.847438
496,katrina56@gmail.com,"172 Owen Divide Suite 497\nWest Richard, CA 19320",PaleVioletRed,34.702529,11.695736,37.190268,3.576526,529.049004
497,dale88@hotmail.com,"0787 Andrews Ranch Apt. 633\nSouth Chadburgh, ...",Cornsilk,32.646777,11.499409,38.332576,4.958264,551.620145
498,cwilson@hotmail.com,"680 Jennifer Lodge Apt. 808\nBrendachester, TX...",Teal,33.322501,12.391423,36.840086,2.336485,456.469510
499,hannahwilson@davidson.com,49791 Rachel Heights Apt. 898\nEast Drewboroug...,DarkMagenta,33.715981,12.418808,35.771016,2.735160,497.778642

In [6]:
# Let's examine the dataset structure and columns
print("Dataset Shape:", df.shape)
print("\nColumn Names:")
print(df.columns.tolist())
print("\nData Types:")
print(df.dtypes)
print("\nDataset Info:")
df.info()

Dataset Shape: (500, 8)

Column Names:
['Email', 'Address', 'Avatar', 'Avg. Session Length', 'Time on App', 'Time on Website', 'Length of Membership', 'Yearly Amount Spent']

Data Types:
Email                    object
Address                  object
Avatar                   object
Avg. Session Length     float64
Time on App             float64
Time on Website         float64
Length of Membership    float64
Yearly Amount Spent     float64
dtype: object

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Email                 500 non-null    object
 1   Address               500 non-null    object
 2   Avatar                500 non-null    object
 3   Avg. Session Length   500 non-null    float64
 4   Time on App           500 non-null    float64
 5   Time on Website       500 non-null    float64
 6   Length of Membership  500 non-null    float64
 7   Yearly Amount Spent   500 non-null    float64
dtypes: float64(5), object(3)
memory usage: 31.4+ KB

In [7]:
# Let's look at sample values and check for any 'Avatar' related columns
print("Sample of the first few rows:")
print(df.head())
print("\n" + "="*50)
print("Checking for any columns that might contain 'Avatar' information:")

# Check each column for unique values (if reasonable number)
for col in df.columns:
    if df[col].dtype == 'object':  # String columns
        unique_vals = df[col].unique()
        print(f"\n{col} - Unique values ({len(unique_vals)}):")
        if len(unique_vals) <= 20:  # Show only if manageable number
            print(unique_vals)
        else:
            print("Too many unique values, showing first 10:")
            print(unique_vals[:10])
    else:  # Numeric columns
        print(f"\n{col} - Numeric column:")
        print(f"  Range: {df[col].min()} to {df[col].max()}")
        print(f"  Mean: {df[col].mean():.2f}")

Sample of the first few rows:
                           Email  \
0      mstephenson@fernandez.com
1              hduke@hotmail.com
2               pallen@yahoo.com
3        riverarebecca@gmail.com
4  mstephens@davidson-herman.com

                                             Address            Avatar  \
0       835 Frank Tunnel\nWrightmouth, MI 82180-9605            Violet
1     4547 Archer Common\nDiazchester, CA 06566-8576         DarkGreen
2  24645 Valerie Unions Suite 582\nCobbborough, D...            Bisque
3   1414 David Throughway\nPort Jason, OH 22070-1220       SaddleBrown
4  14023 Rodriguez Passage\nPort Jacobville, PR 3...  MediumAquaMarine

   Avg. Session Length  Time on App  Time on Website  Length of Membership  \
0            34.497268    12.655651        39.577668              4.082621
1            31.926272    11.109461        37.268959              2.664034
2            33.000915    11.330278        37.110597              4.104543
3            34.305557    13.717514        36.721283              3.120179
4            33.330673    12.795189        37.536653              4.446308

   Yearly Amount Spent
0           587.951054
1           392.204933
2           487.547505
3           581.852344
4           599.406092

==================================================
Checking for any columns that might contain 'Avatar' information:

Email - Unique values (500):
Too many unique values, showing first 10:
['mstephenson@fernandez.com' 'hduke@hotmail.com' 'pallen@yahoo.com'
 'riverarebecca@gmail.com' 'mstephens@davidson-herman.com'
 'alvareznancy@lucas.biz' 'katherine20@yahoo.com' 'awatkins@yahoo.com'
 'vchurch@walter-martinez.com' 'bonnie69@lin.biz']

Address - Unique values (500):
Too many unique values, showing first 10:
['835 Frank Tunnel\nWrightmouth, MI 82180-9605'
 '4547 Archer Common\nDiazchester, CA 06566-8576'
 '24645 Valerie Unions Suite 582\nCobbborough, DC 99414-7564'
 '1414 David Throughway\nPort Jason, OH 22070-1220'
 '14023 Rodriguez Passage\nPort Jacobville, PR 37242-1057'
 '645 Martha Park Apt. 611\nJeffreychester, MN 67218-7250'
 '68388 Reyes Lights Suite 692\nJosephbury, WV 92213-0247'
 'Unit 6538 Box 8980\nDPO AP 09026-4941'
 '860 Lee Key\nWest Debra, SD 97450-0495'
 'PSC 2734, Box 5255\nAPO AA 98456-7482']

Avatar - Unique values (138):
Too many unique values, showing first 10:
['Violet' 'DarkGreen' 'Bisque' 'SaddleBrown' 'MediumAquaMarine'
 'FloralWhite' 'DarkSlateBlue' 'Aqua' 'Salmon' 'Brown']

Avg. Session Length - Numeric column:
  Range: 29.532428967057943 to 36.13966248879052
  Mean: 33.05

Time on App - Numeric column:
  Range: 8.508152176032603 to 15.126994288792469
  Mean: 12.05

Time on Website - Numeric column:
  Range: 33.91384724758464 to 40.005181638101895
  Mean: 37.06

Length of Membership - Numeric column:
  Range: 0.2699010899842742 to 6.922689335035807
  Mean: 3.53

Yearly Amount Spent - Numeric column:
  Range: 256.67058229005585 to 765.5184619388372
  Mean: 499.31